@tailwind base;
@tailwind components;
@tailwind utilities;

.custom-scrollbar::-webkit-scrollbar {
  width: 6px;
}
.custom-scrollbar::-webkit-scrollbar-track {
  background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
  background: #ffd900;
  border-radius: 10px;
}

::selection {
  background-color: #ffd900;
  color: #000;
}

@media print {
  .print\:hidden { display: none !important; }
}